<h1><%= @track.name %></h1>
<h3><%= @track.feature_type %> track on <%= @track.album.name %></h3>

<p>By: <%= @track.album.band.name %></p>
<br>
<%= render_lyrics(@track.lyrics) %>
<br><br>
<%= link_to "Back to #{@track.album.name} Page", album_url(@track.album_id) %>
<br><br>

<center>

  <%= render "notes/form", track: @track %>

  <hr>
  <hr>

  <% @track.notes.includes(:user).each do |note| %>

    <br>
    <div style="width:90%">
      Posted <%= time_ago_in_words(note.created_at)%> by <%= note.user.email %>
      <pre><%= note.body %></pre>
      <%= button_to "Delete Note", note_url(note), method: :delete %>
      <hr>
    </div>

  <% end %>

</center>
